$breakpoint-mobile: 320px;
$breakpoint-iphone: 375px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1366px;
$breakpoint-desktop: 1920px;

$border-radius: 5px;

form {
    width: 100%;
    max-width: 500px;
    display: flex;

    .form-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        width: 100%;

        .form-row-dual, .form-row {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: auto;
            gap: 10px;

            input {
                border: none;
                border-radius: $border-radius;
                background-color: #F0F0F0;
                padding: 0 15px;
                font-family: 'Nunito';
                color: #333;
                height: 50px;
                font-size: 16px;

                &.null-error {
                    &::placeholder {
                        color: rgba(255, 0, 0, 0.85);
                    }
                }

                &.name, &.email {
                    width: 43%;
                }

                &.subject {
                    width: 100%;
                }

                &::placeholder {
                    color: #b0b0b0;
                }

                &:focus-visible {
                    outline: none;
                }

                @media (max-width: $breakpoint-tablet) {
                    &.name, &.email {
                        width: 100%;
                    }
                }
            }
        }

        .form-row-message {
            width: 100%;
            min-height: 120px;
            display: flex;

            textarea {
                width: 100%;
                border-radius: $border-radius;
                border: none;
                padding: 15px 16px;
                font-size: 16px;
                color: #333;
                background-color: #F0F0F0;
                font-family: Roboto, Helvetica, Arial, sans-serif;

                &.null-error {
                    &::placeholder {
                        color: rgba(255, 0, 0, 0.85);
                    }
                }

                &::placeholder {
                    font-family: Roboto, Helvetica, Arial, sans-serif;
                    color: rgba(51, 51, 51, 0.5);
                }

                &:focus-visible {
                    outline: none;
                }
            }
        }

        .button {
            -webkit-appearance: none;
            appearance: none;
            -webkit-filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
            filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
            -webkit-transition: all .5s ease;
            transition: all .2s ease;
            border: none;
            background: #FFD800;
            border-radius: 6px;
            box-sizing: border-box;
            padding: 0;
            font-weight: 600;
            font-size: 24px;
            cursor: cursor;
            width: 100%;
            height: 47.2px;
            max-height: 47.2px;
            z-index: 2;
            letter-spacing: 3px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                color: #ffffff;
                background: #222222;
                cursor: pointer;
                -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
                filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
            }
        }

        @media (max-width: $breakpoint-tablet) {
            gap: 10px;
        }
    }

    @media (max-width: $breakpoint-tablet) {
        padding: 0 30px;
    }
}