$breakpoint-mobile: 320px;
$breakpoint-iphone: 375px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1366px;
$breakpoint-desktop: 1920px;

$font: 'Poppins', sans-serif;

.devtools-forbidden-text {
    width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-family: $font;
	background-image: linear-gradient(45deg, #f6d200 25%, #181617 25%, #181617 50%, #f6d200 50%, #f6d200 75%, #181617 75%, #181617 100%);

    h1 {
        text-transform: uppercase;
        background: repeating-linear-gradient(45deg, #f6d200, #f6d200  10px, #181617  10px, #181617  20px);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 384px;
        margin: 0;
        line-height: .7;
        position: relative;

        &:before,
        &:after {
            content: "FORBIDDEN";
            background-color: #f6d200;
            color: #181617;
            border-radius: 10px;
            font-size: 35px;
            position: absolute;
            padding: 31px;
            text-transform: uppercase;
            font-weight: bold;
            -webkit-text-fill-color: #181617;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(20deg);
        }

        &:before {
            content: "";
            padding: 70px 130px;
            background: repeating-linear-gradient(45deg, #f6d200, #f6d200 10px, #181617 10px, #181617 20px);
            box-shadow: 0px 0px 10px #181617;
        }

        & span:before,
        & span:after{
            content: "";
            width: 8px;
            height: 8px;
            background: #757575;
            color: #757575;
            border-radius: 50%;
            position: absolute;
            bottom: 0;
            margin: auto;
            top: 20%;
            z-index: 3;
            box-shadow: 0px 60px 0 0px;
        }

        span:before {
            left: 37%;
            transform: rotate(22deg);
            top: -44%;
        }

        span:after {
            right: 34%;
            transform: rotate(22deg);
            top: 3%;
        }
    }
}

.geolocationForbidden {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: #1C2127;
    overflow: hidden;

    .geolocation-message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        height: 100%;
        align-items: center;

        .message{
            font-family: 'Poppins', sans-serif;
            color: white;
            font-size: 40px;
            font-weight: 700;
            padding-left: 10%;
        }

        .message2{
            font-family: 'Poppins', sans-serif;
            color: white;
            font-size: 25px;
            font-weight: 400;
            padding-left: 10%;
        }
    }

    .geolocation-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;

        .neon{
            text-align: center;
            width: 300px;
            margin-top: 30px;
            margin-bottom: 10px;
            font-family: 'Varela Round', sans-serif;
            font-size: 90px;
            color: #5BE0B3;
            letter-spacing: 3px;
            text-shadow: 0 0 5px #6EECC1;
            animation: flux 2s linear infinite;
        }

        .door-frame {
            height: 495px;
            width: 295px;
            border-radius: 90px 90px 0 0;
            background-color: #8594A5;
            display: flex;
            justify-content: center;
            align-items: center;

            .door{
                height: 450px;
                width: 250px;
                border-radius: 70px 70px 0 0;
                background-color: #A0AEC0;

                .rectangle {
                    height: 70px;
                    width: 25px;
                    background-color: #CBD8E6;
                    border-radius: 4px;
                    position: absolute;
                    margin-top: 220px;
                    margin-left: 20px;
                }

                .handle {
                    height: 8px;
                    width: 50px;
                    border-radius: 4px;
                    background-color: #EBF3FC;
                    position: absolute;
                    margin-top: 250px;
                    margin-left: 30px;
                }

                .window {
                    height: 40px;
                    width: 130px;
                    background-color: #1C2127;
                    border-radius: 3px;
                    margin: 80px auto;
                    position: relative;

                    .eye {
                        top: 15px;
                        left: 25px;
                        height: 5px;
                        width: 15px;
                        border-radius: 50%;
                        background-color: white;
                        animation: eye 7s ease-in-out infinite;
                        position: absolute;
                    }

                    .eye2 {
                        left: 65px;
                    }

                    .leaf {
                        height: 40px;
                        width: 130px;
                        background-color: #8594A5;
                        border-radius: 3px;
                        margin: 80px auto;
                        animation: leaf 7s infinite;
                        transform-origin: right;
                    }
                }
            }
        }
    }

    @keyframes leaf {
        0% {
          transform: scaleX(1);
        }
        5% {
          transform: scaleX(0.2);
        }
        70%{
          transform: scaleX(0.2);
        }
        75%{
          transform: scaleX(1);
        }
        100% {
          transform: scaleX(1);
        }
    }

    @keyframes eye {
        0% {
          opacity: 0;
          transform: translateX(0)
        }
        5% {
          opacity: 0;
        }
        15%{
          opacity: 1;
          transform: translateX(0)
        }
        20% {
          transform: translateX(15px)
        }
        35%{
          transform: translateX(15px)
        }
        40%{
          transform: translateX(-15px)
        }
        60%{
          transform: translateX(-15px)
        }
        65% {
          transform: translateX(0)
        }
    }

    @keyframes flux {
        0%,
        100% {
          text-shadow: 0 0 5px #00FFC6, 0 0 15px #00FFC6, 0 0 50px #00FFC6, 0 0 50px #00FFC6, 0 0 2px #B9FFE8, 2px 2px 3px #12E29C;
          color: #4BFFEF;
        }
        50% {
          text-shadow: 0 0 3px #00B58D, 0 0 7px #00B58D, 0 0 25px #00B58D, 0 0 25px #00B58D, 0 0 2px #00B58D, 2px 2px 3px #006A60;
          color: #63D3AE;
        }
    }
}